 <div class="tabbertab">
	  <h2>Recently Added</h2>
<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>


<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>


<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>


<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

     </div>

     <div class="tabbertab">
	  <h2>Famous Doctors in Mumbai </h2>
	  <div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>


<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>


<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>

<div class="doctor_box">
  <div class="doctor_heading"><a href="#" class="doctor_link">Dr. Rahul Chakor </a></div>
  <div>Allopathy » Neurologist</div>
  <div class="doctor_rating"></div>
</div>
     </div>

     
	 
	      
	 
	      
	 
	 

</div>
          
           <div class="clear"></div>       
     </div> 
		 
		 
		 
		 
		 <div id="right_adv">
		 
		 <div class="right_banner"><a href="#"><img src="/assets/banner2.jpg" alt="" border="0"/></a></div>
		 
		 <div class="right_banner"><a href="#"><img src="/assets/banner3.jpg" alt="" border="0"/></a></div>
		 
		 
		 </div>
	 
	 
	 
	 
	 
   </div>